@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.app-main {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.player-container {
    text-align: center;
    font-family: Poppins;
    background-color: #212121;
    color: white;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.player-container:hover {
    background-color: black;
}

.player-main {
    padding: 10px;
}

.player-card {
    width: 100%;
    height: 50vh;
    background-color:#212121;
    border-radius: 20px;
    -webkit-box-shadow: -7px 0px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 0px 14px -1px rgba(0,0,0,0.75);
    box-shadow: -7px 0px 14px -1px rgba(0,0,0,0.75);
}
